/target
.idea
pikafish.exe
pikafish.nnue
/Cargo.lock
*.nnue
*.safetensors
chineseai*
*.toml.progress
*.replay.lz4
distill_data
runs
*azloop*
*.log
tools
eval/*.csv
eval/*.fens
eval/*.sqlite
eval/torch/
